<div class="container">
  <div class="row">
    <h1>Eet Da Burger!</h1>

    
    </div>
    <div class="row">
      <div class="col-sm-4">
        <ul>
          {{#each burgers}}
          {{#unless eaten}}
          {{> burgers/burger-block eaten=false}}
          {{/unless}}
          {{/each}}
        </ul>
      </div>

      <div class="col-sm-4">
        <h2>Tell us which burger you'd like to eat.</h2>
        <form class="create-form">

          <div class="form-group">
            <input type="text" id="burg" name="name">
          </div>

          <button type="submit">Add to my Wish List</button>
        </form>
      </div>
    
    <div class="col-sm-4">

      <ul>
        {{#each burgers}}
        {{#if eaten}}
        {{> burgers/burger-block eaten=true}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>

</div>
</div>
</div>