* {
  background-color: #FF8C00;
}

btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green;
}

input {
  width: 100%;
  background-color: #faebd7;
  color: black;
  
}

li {
  /* padding: 5px; */
  margin: 5px;
  background: #faebd7;
  list-style: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 7px;
}

.label {
  font-weight: bold;
}

#subhead {
  font-size: 24px;
  text-align: center;
  padding: 5px;
}
