<li class="list-group-item list-group-item-warning">
	{{name}}
	{{#if eaten}}{{else}}<button class="change-eaten float-right" data-id="{{id}}">
		{{#if eaten}}Burger Eaten{{else}}Devour It!{{/if}}
	</button>
	{{/if}}


</li>